# Задание1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

https://grouplens.org/datasets/movielens/latest/
    •ml-latest-small.zip

In [2]:
import pandas as pd

In [30]:
data = pd.read_csv('ratings.csv')# импорт данных по рейтингу
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [31]:
data.info

<bound method DataFrame.info of         userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]>

In [48]:
rating = data[['movieId','rating']]
rating.head()

   movieId  rating
0        1     4.0
1        3     4.0
2        6     4.0
3       47     5.0
4       50     5.0

In [54]:
r = rating[data['rating']==5.0]# фильтрую 'moveId' с оценкой 5.0
r.head()

   movieId  rating
3       47     5.0
4       50     5.0
6      101     5.0
8      151     5.0
9      157     5.0

In [53]:
movi = pd.read_csv('movies.csv')#импорт данных по 'ID' и названию фильма
movi.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [60]:
moviID = movi[movi['movieId']==47] # фильтрую поиск фильма по названию, используя данные из таблицы по оценке 'r'
moviID

    movieId                        title            genres
43       47  Seven (a.k.a. Se7en) (1995)  Mystery|Thriller