In [1]:
import pandas as pd

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [2]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [13]:
data[data['country'].str.contains('it',case=False)]['country'].unique()

array(['Italy', 'United Kingdom', 'United States', 'Lithuania',
       'Switzerland', 'Eritrea', 'United Arab Emirates',
       'Ethiopia, incl. Eritrea', 'Kuwait', 'Mauritania',
       'United Rep. of Tanzania', 'Haiti', 'Mauritius', 'St. Kitts-Nevis',
       'British Virgin Islands', 'United States Virgin Is.'], dtype=object)

# сократил код, испоьзуя вашу рекомендацию

In [16]:
country_ = data[ (data['country'].isin(['Lithuania','Latvia','Estonia'])) 
                & (data['quantity'] > 0)
               &(data['year'] > 2005) & (data['year'] < 2010)
               &((data['category']==4)|(data['category']==12)|(data['category']==21))
                       ]
country_.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
11156  Lithuania  2008       1.0         4
11158  Lithuania  2006       1.0         4
12755    Estonia  2008       1.0         4
13294  Lithuania  2008       1.0         4

In [15]:
sum_contry = country_['quantity'].sum()
sum_contry

164555.0